body {
  background-color: #d9dced;
}
.App .body {
  background: linear-gradient(to bottom, #dee1ee 0%, #b4bde0 100%);
  border-radius: 90px;
  display: block;
  font-family: "Poppins", sans-serif;
  margin: auto;
  max-width: 800px;
  padding: 30px;
  text-align: center;
}

.App hr {
  color: #38598b;
  height: 5px;
  margin: 10px 0;
}

.app-wrapper {
  background-color: #fff;
  background-color: #38598b;
  border-color: #c8cde2;
  border-radius: 95px;
  max-width: 46rem;
  padding: 15px 15px;
  box-shadow: 9px 9px 24px 6px #13223811;
  max-width: 750px;
  margin: 30px auto;
}


@media (max-width: 800px) {
   h1 {
    font-size: 45px;
  }
}


@media (max-width: 576px) {
h1 {
    text-align: center;
    font-size: 30px;
  }
}
