.CurrentWeather .current-temp-container {
  margin: 20px auto 20px auto;
}
.current-temp {
  color: #466492;
  display: block;
  font-size: 90px;
  font-weight: 500;
  margin: 0 auto;
  text-align: end;
  margin-top: 20px;
}

.fahrenheit,
.celsius {
  border: none; 
  cursor: pointer;
  text-decoration: none;
  margin-top: 33px;
  transition: all 150ms ease-in-out;
  color: #466492;
  display: block;
  text-align: start;
}

.active-link {
  color: #466492;
  font-size: 22px;
  font-weight: 600;
}
.active-link:hover {
  color: #000;
  cursor: default;
}
.non-active-link {
  color: #848282;
  font-size: 18px;
  font-weight: 300;
}
.non-active-link:hover {
  color: #000;
  font-size: 22px;
}

.CurrentWeather .current-weather-image {
  max-height: 150px;
}

.CurrentWeather ul {
  font-size: 20px;
  margin: 0 auto;
  max-height: 140px;
  text-transform: lowercase;
  margin-bottom: 10px;
}

.CurrentWeather li {
  display: block;
  font-weight: 300;
  margin: 0 auto;
  text-align: center;
}

.current-weather-conditions {
  color: #e7eaf6;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  padding: 5px auto;
  margin: 10px auto 10px auto;
  background-color: #97A2C1;
  max-width: 500px;
  border-radius: 60px;
  font-family: "Roboto", sans-serif;
  border-color: #c8cde2;
  transition: all ease-in-out 200ms;
}


.flex{
  display: flex;
  justify-content: center;
}
